<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>UCPA</display-name>

  <listener>
    <description>ApplicationListener</description>
    <display-name>ApplicationListener</display-name>
    <listener-class>org.ucnj.paccess.listeners.ApplicationListener</listener-class>
  </listener>
  <listener>
    <description></description>
    <display-name>SessionListener</display-name>
    <listener-class>org.ucnj.paccess.listeners.SessionListener</listener-class>
  </listener>

  <servlet>
    <description></description>
    <display-name>SuperSnoop</display-name>
    <servlet-name>SuperSnoop</servlet-name>
    <servlet-class>test.SuperSnoop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuperSnoop</servlet-name>
    <url-pattern>/SuperSnoop</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SetStatus</display-name>
    <servlet-name>SetStatus</servlet-name>
    <servlet-class>org.ucnj.paccess.maintenance.SetStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetStatus</servlet-name>
    <url-pattern>/SetStatus</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <description></description>
    <display-name>DocIndex</display-name>
    <servlet-name>DocIndex</servlet-name>
    <servlet-class>org.ucnj.paccess.servlets.DocIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocIndex</servlet-name>
    <url-pattern>/DocIndex</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>org.ucnj.paccess.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendLogin</display-name>
    <servlet-name>SendLogin</servlet-name>
    <servlet-class>org.ucnj.paccess.servlets.SendLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendLogin</servlet-name>
    <url-pattern>/SendLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PwMgr</display-name>
    <servlet-name>PwMgr</servlet-name>
    <servlet-class>org.ucnj.paccess.servlets.PwMgr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PwMgr</servlet-name>
    <url-pattern>/PwMgr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NameResults</display-name>
    <servlet-name>NameResults</servlet-name>
    <servlet-class>org.ucnj.paccess.servlets.NameResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameResults</servlet-name>
    <url-pattern>/NameResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DateResults</display-name>
    <servlet-name>DateResults</servlet-name>
    <servlet-class>org.ucnj.paccess.servlets.DateResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateResults</servlet-name>
    <url-pattern>/DateResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDetails</display-name>
    <servlet-name>BookDetails</servlet-name>
    <servlet-class>org.ucnj.paccess.servlets.BookDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDetails</servlet-name>
    <url-pattern>/BookDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstDetails</display-name>
    <servlet-name>InstDetails</servlet-name>
    <servlet-class>org.ucnj.paccess.servlets.InstDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstDetails</servlet-name>
    <url-pattern>/InstDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chart</display-name>
    <servlet-name>Chart</servlet-name>
    <servlet-class>org.ucnj.sitestats.Chart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chart</servlet-name>
    <url-pattern>/Chart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardDates</display-name>
    <servlet-name>BoardDates</servlet-name>
    <servlet-class>org.ucnj.paccess.servlets.BoardDates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDates</servlet-name>
    <url-pattern>/BoardDates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NameDetails</display-name>
    <servlet-name>NameDetails</servlet-name>
    <servlet-class>org.ucnj.paccess.servlets.NameDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameDetails</servlet-name>
    <url-pattern>/NameDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Receipting</display-name>
    <servlet-name>Receipting</servlet-name>
    <servlet-class>org.ucnj.paccess.servlets.Receipting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Receipting</servlet-name>
    <url-pattern>/Receipting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestList</display-name>
    <servlet-name>RequestList</servlet-name>
    <servlet-class>org.ucnj.paccess.servlets.RequestList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestList</servlet-name>
    <url-pattern>/RequestList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Viewer</display-name>
    <servlet-name>Viewer</servlet-name>
    <servlet-class>org.ucnj.paccess.servlets.Viewer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewer</servlet-name>
    <url-pattern>/Viewer</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/UCNJDatasource</res-ref-name>
    <res-type>jaxa.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <mime-mapping>
    <extension>ico</extension>
    <mime-type>image/x-icon</mime-type>
  </mime-mapping>
  <welcome-file-list>
    <welcome-file>DocIndex</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Chart1</display-name>
    <servlet-name>Chart1</servlet-name>
    <servlet-class>org.ucnj.sitestats.Chart1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chart1</servlet-name>
    <url-pattern>/Chart1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetNews</display-name>
    <servlet-name>SetNews</servlet-name>
    <servlet-class>org.ucnj.paccess.servlets.SetNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetNews</servlet-name>
    <url-pattern>/SetNews</url-pattern>
  </servlet-mapping>

<!-- 
  <servlet>
    <description></description>
    <display-name>TestSsl</display-name>
    <servlet-name>TestSsl</servlet-name>
    <servlet-class>test.TestSsl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSsl</servlet-name>
    <url-pattern>/TestSsl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpsClient</display-name>
    <servlet-name>HttpsClient</servlet-name>
    <servlet-class>test.HttpsClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpsClient</servlet-name>
    <url-pattern>/HttpsClient</url-pattern>
  </servlet-mapping>
-->

</web-app>